/* Add CSS Styling */

.odd {
    background-color: lightpink;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

#n2 {
    color: blue;
    font-size: 36px;
}

.font-size {
   font-size: 24px;
}

#n4 {
    background-color: lightgreen;
    font-weight: bold;
}